$color_1: white;
$color_2: black;
$color_3:rgb(165, 151, 151);
$color_4:rgb(109, 85, 146);

$bg_color_1: white;
$bg_color_2: whitesmoke;
$bg_color_3: black;

$Hedvig:font-family 'Hedvig Letters Serif', serif;
$Roboto:font-family 'Roboto Condensed', sans-serif;
$Titillium:font-family 'Titillium Web', sans-serif;