header {
    background-color: $bg_color_3;

  #header_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;
    margin:0;
    padding:43px;
  }

  .menu_header:hover {
    text-decoration: white underline 2px;
    transition:500ms;
  }
}
