
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
    width: 100%;
	background-color: $bg_color_1;
    scroll-behavior: smooth;
    flex-wrap: wrap;
 }

 